$color-red: #ec1e26 !default;
$color-black: #000000 !default;
$color-black-light: #111111 !default;
$color-white: #ffffff !default;
$color-form: #333333 !default;

$color-text: #cccccc !default;
$color-text-darker: #aaaaaa !default;
$color-text-redder: #aa2626 !default;

@font-face {
	font-family: "Avenir";
	src: url("./assets/fonts/Avenir.ttc");
}
@font-face {
	font-family: "Calluna";
	src: url("./assets/fonts/Calluna-Regular.otf");
}
@font-face {
	font-family: "DG";
	src: url("./assets/fonts/DG-Medium.otf");
}

* {
	cursor: default;
	box-sizing: border-box;
	font-family: Calluna;
	color: $color-text;
	scrollbar-width: thin;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: $color-black;
}

.loading {
	height: 100%;
	width: 100%;
	position: relative;

	& > div {
		color: #345483;
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	& > .spinner {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

input[type="text"],
input[type="email"],
input[type="password"] {
	cursor: text;
	display: block;
	border: none;
	background: $color-form;
	color: $color-text;
	font-size: 1em;
	height: 20px;
	margin: 0px 0px 3px 10px;
}

input[type="button"],
input[type="submit"] {
	cursor: pointer;
}

input[type="checkbox"] {
	height: 20px;
	width: 8px;
	margin: 0;
	padding: 0;
	background-color: $color-form;
	appearance: none;

	&:checked {
		background-color: $color-text;
	}
}

#root {
	height: 100%;
	width: 100%;
	background: $color-black;

	& > .entrance-wrapper {
		width: 100%;
		height: 100%;

		& > .entrance {
			width: 400px;
			margin: 10px auto;
			padding: 5px 15px 15px;
			background: $color-black-light;
			border: 1px $color-red solid;
			max-width: 100%;

			& > .logo {
				background: $color-black-light url("./assets/icons/degenesis.svg") no-repeat center center;
				height: 100px;
			}

			& > .title {
				font-size: 2em;
				text-align: center;
			}

			& > .login,
			& > .register {
				& > h2 {
					margin: 8px auto 6px;
					padding: 5px;
					text-align: center;
				}

				& > form > .input-text {
					margin: 2px auto;
				}

				& > form > .input-button {
					display: block;
					border: none;
					background: $color-form;
					color: $color-text;
					font-size: 1em;
					margin: 2px auto;
					padding: 4px 6px 2px;

					&:hover {
						color: lighten($color-text, 20%);
					}
				}

				& > form > .input-change {
					display: block;
					border: none;
					background: none;
					color: $color-text-darker;
					font-size: 0.8em;
					margin: 20px auto 2px;

					&:hover {
						color: lighten($color-text-darker, 20%);
					}
				}
			}
		}
	}

	& > .main-wrapper {
		width: 100%;
		height: 100%;

		& > .dashboard {
			max-width: 800px;
			margin: 10px auto;
			padding: 5px 15px 15px;
			background: $color-black-light;
			border: 1px $color-red solid;

			& > .logo {
				background: $color-black-light url("./assets/icons/degenesis.svg") no-repeat center center;
				height: 100px;
			}

			& > .title {
				font-size: 2em;
				text-align: center;
			}

			& > .menu {
				margin: 4px auto;
				width: max-content;
				height: auto;
			}

			& > .my-characters,
			& > .my-campaigns {
				min-height: 40px;
				width: 100%;
				margin-top: 10px;

				& > .title {
					font-size: 1.4em;
					border-bottom: 1px #f00 solid;
				}

				& > .button {
					border: none;
					background: none;
					color: $color-text-redder;
					font-size: 0.8em;
					margin: -23px 0;
					padding: 4px 6px 2px;
					float: right;

					&:hover {
						color: lighten($color-text-redder, 20%);
					}
				}

				& > .list {
					font-size: 1em;
				}
			}
		}

		& > .character-sheet {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;

			max-width: 800px;
			margin: 10px auto;
			padding: 5px 15px 15px;
			background: $color-black-light;
			border: 1px $color-red solid;

			& > .title {
				font-size: 1.6em;
				text-align: center;
				border-bottom: 1px #f00 solid;
				flex: 6 0 100%;
			}

			& > hr {
				flex: 0 0 100%;
				border: none;
			}

			& > .basic-text {
				flex: 1 0 50%;
			}

			& > .basic-text-mini {
				flex: 1 1 26%;
			}

			& > .culture,
			& > .concept,
			& > .cult {
				flex: 1 1 33%;

				& > .title {
					width: 100%;
					font-size: 1.4em;
					text-align: center;
				}

				& > .logo {
					background: transparent url("./assets/icons/concepts/abomination.svg") no-repeat center center;
					height: 100px;
					width: 100%;
					margin: 12px auto;
				}

				& > input {
					width: 70%;
					margin: 0 auto;
				}
			}

			& > .group {
				flex: 1 1 230px;
				margin: 5px 10px;

				& > .condition-row {
					grid-template-columns: repeat(24, 8px);
					
					& > .condition {
						grid-column-start: span 24;
					}
				}

				& > .condition-row-mini {
					grid-template-columns: repeat(12, 8px);
					& > .condition {
						grid-column-start: span 12;
					}
				}

				& > .condition-row,
				& > .condition-row-mini {
					display: grid;
					grid-template-rows: auto;
					width: 100%;
					gap: 1px;
					justify-content: center;
					text-align: center;

					& > .condition {
						margin-bottom: 6px;
					}
				}

				& > .row {
					display: grid;
					grid-template-columns: auto repeat(6, 8px);
					grid-template-rows: 20px;
					gap: 1px;
					margin-bottom: 1px;

					&:first-child {
						margin-bottom: 3px;
					}

					& > .title {
						grid-column-start: span 7;
					}

					& > .attribute,
					& > .title {
						background-color: $color-text;
						color: $color-black-light;
						padding: 1px 4px;
						font-weight: bold;
					}

					& > .potential {
						grid-column-start: span 4;
					}

					& > .skill,
					& > .origin {
						padding-left: 10px;
					}
				}
			}
		}
	}
}
