$color-red: #ec1e26 !default;
$color-black: #000000 !default;
$color-black-light: #111111 !default;
$color-white: #ffffff !default;
$color-form: #333333 !default;
$color-light-bg: #aaaaaa !default;

$color-text: #cccccc !default;
$color-text-darker: #aaaaaa !default;
$color-text-redder: #aa2626 !default;

@font-face {
	font-family: "Avenir";
	src: url("./assets/fonts/Avenir-Light.otf");
}
@font-face {
	font-family: "Calluna";
	src: url("./assets/fonts/Calluna-Regular.otf");
}
@font-face {
	font-family: "DG";
	src: url("./assets/fonts/DG-Medium.otf");
}

* {
	cursor: default;
	box-sizing: border-box;
	font-family: Avenir;
	color: $color-text;
	scrollbar-width: thin;
	font-size: 0.98em;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: $color-black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	cursor: text;
	display: block;
	border: none;
	background: $color-form;
	color: $color-text;
	font-size: 0.9em;
	height: 20px;
	margin: 0px 0px 3px 6px;
}

input[type="button"],
input[type="submit"] {
	cursor: pointer;
	border: none;
	background: $color-form;
	color: $color-text;
}

input[type="checkbox"] {
	height: 20px;
	width: 8px;
	margin: 0;
	padding: 0;
	background-color: $color-form;
	appearance: none;

	&:checked {
		background: $color-light-bg;
	}
}

input {
	padding: 0 3px;
}

select {
	background: darken($color-form, 6%);
	color: $color-text;
	border: none;
	text-align: center;
	width: 220px;
	margin: 0 auto;
	appearance: none;
}

.divider {
	flex: 0 0 100%;
	border: none;
	display: flex;
	align-items: center;
	margin: 32px 0 4px 0;

	& > .border {
		border-bottom: 1px solid $color-red;
		width: 100%;
	}

	& > .content {
		padding: 0 10px 0 10px;
		font-size: 2em;
		min-width: max-content;
	}
}

#root {
	height: 100%;
	width: 100%;
	background: $color-black;

	& > .entrance-wrapper {
		width: 100%;
		height: 100%;

		& > .entrance {
			width: 400px;
			margin: 10px auto;
			padding: 5px 15px 15px;
			background: $color-black-light;
			border: 1px $color-red solid;
			max-width: 100%;

			& > .logo {
				background: $color-black-light url("./assets/icons/degenesis.svg") no-repeat center center;
				height: 100px;
			}

			& > .title {
				font-size: 2em;
				text-align: center;
			}

			& > .login,
			& > .register {
				& > h2 {
					margin: 8px auto 6px;
					padding: 5px;
					text-align: center;
				}

				& > form > .input-text {
					margin: 2px auto;
				}

				& > form > .input-button {
					display: block;
					font-size: 1em;
					margin: 2px auto;
					padding: 4px 6px 2px;

					&:hover {
						color: lighten($color-text, 20%);
					}
				}

				& > form > .input-change {
					display: block;
					border: none;
					background: none;
					color: $color-text-darker;
					font-size: 0.8em;
					margin: 20px auto 2px;

					&:hover {
						color: lighten($color-text-darker, 20%);
					}
				}
			}
		}
	}

	& > .main-wrapper {
		width: 100%;
		height: 100%;

		& > .dashboard {
			max-width: 600px;
			margin: 10px auto;
			padding: 5px 15px 15px;
			background: $color-black-light;
			border: 1px $color-red solid;

			& > .logo {
				background: $color-black-light url("./assets/icons/degenesis.svg") no-repeat center center;
				height: 100px;
			}

			& > .title {
				font-size: 2em;
				text-align: center;
			}

			& > .menu {
				margin: 4px auto;
				width: max-content;
				height: auto;
			}

			& > .my-characters,
			& > .my-campaigns {
				min-height: 40px;
				width: 100%;
				margin-top: 10px;

				& > .title {
					font-size: 1.4em;
					border-bottom: 1px #f00 solid;
				}

				& > .button {
					border: none;
					background: none;
					color: $color-text-redder;
					font-size: 0.8em;
					margin: -23px 0;
					padding: 4px 6px 2px;
					float: right;

					&:hover {
						color: lighten($color-text-redder, 20%);
					}
				}

				& > .list {
					font-size: 1em;
				}
			}
		}

		& > .character-sheet {
			max-width: 900px;
			margin: 10px auto;
			padding: 5px 15px 15px;
			background: $color-black-light;
			border: 1px $color-red solid;

			& > .extras {
				width: max-content;
				margin: 2px auto;

				& > .extra {
					display: inline-block;
					margin: 4px 8px;
					height: 20px;
					font-size: 0.9em;
				}
			}

			& > .wrapper {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: center;
				align-content: center;

				& > .basic-text {
					flex: 1 0 48%;
				}

				& > .basic-text-mini {
					flex: 1 1 19%;

					&.right {
						text-align: right;
					}
				}

				& > .table {
					width: 100%;
					display: grid;
					grid-template-rows: auto;
					margin-bottom: 16px;
					overflow: auto;

					&.columns-2 {
						grid-template-columns: auto 50px;
						flex: 1 1 270px;

						&:not(:first-child) {
							margin-left: 17px;
						}
					}
					&.columns-4 {
						grid-template-columns: auto 100px auto 100px;
					}
					&.columns-6 {
						grid-template-columns: auto 100px auto 50px 50px 50px;
					}
					&.columns-9 {
						grid-template-columns: auto 100px 100px 100px 50px auto 50px 50px 50px;
					}

					& > .title {
						padding: 2px 8px 1px;
						font-weight: bold;

						&:first-child {
							background: $color-light-bg;
							color: $color-black-light;
						}
					}
				}

				& > .block {
					flex: 1 1 230px;
					margin: 5px 10px;

					&.main-left,
					&.main-right {
						flex: 1 1 230px;
					}
					&.main-center {
						flex: 1 1 100px;
						display: grid;
						grid-template-rows: auto;
						grid-template-columns: repeat(2, 90px);
						max-width: 180px;

						& > .row {
							width: 90px;

							&:first-child,
							&:nth-child(2) {
								grid-column-start: 1;
								grid-column-end: span 2;
								margin: 1px auto;

								& > input {
									margin: 0 auto;
								}
							}

							&:first-child {
								width: 104px;
								height: 104px;
							}

							&:nth-child(2) {
								width: 178px;

								& > input {
									width: 100%;
									margin: 0 auto;
								}
							}

							& > input {
								width: 88px;
								margin: 0 auto;
							}
						}
					}

					& > .row {
						display: grid;
						grid-template-rows: 20px;
						gap: 1px;
						margin-bottom: 1px;

						&.columns-0 {
							grid-template-columns: auto;
						}
						&.columns-3 {
							grid-template-columns: auto repeat(3, 8px);
						}
						&.columns-6 {
							grid-template-columns: auto repeat(6, 8px);
						}
						&.columns-12 {
							grid-template-columns: repeat(12, 8px);
							justify-content: center;
							text-align: center;
						}
						&.columns-24 {
							grid-template-columns: repeat(24, 8px);
							justify-content: center;
							text-align: center;
						}

						&.title {
							margin-bottom: 3px;
						}
						&.title-major {
							margin-top: 10px;
						}

						&.logo {
							height: 100px;
							width: 100%;
							margin: 12px auto;

							& > .icon {
								height: 100px;
								width: 100%;
								filter: invert(80%);
							}
						}

						& > .title-major {
							font-size: 1.4em;
							text-align: center;
						}

						& > .title {
							background: $color-light-bg;
							color: $color-black-light;
							padding: 1px 4px;
							font-weight: bold;

							&.span-13 {
								column-span: span 12;
							}
							&.span-25 {
								column-span: span 24;
							}
						}

						& > .condition-title {
							text-align: center;
						}

						& > .normal {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
}
